/* Author: Paxton M.
   Date created: Aug 29th 2025*/

:root {
    --light_beige: #fff8f2;
    --beige: #FFE8C7;
    --light_blue: #BCD3DC;
    --blue: #A0DAE4;
    --light_brown: #B89B8E;
    --dark_red: #500B00;
    --para_text: calc(1rem + 0.4vw);
    --title_text: calc(1.5rem + 0.8vw);
    --cap_text: calc(0.5rem + 0.5vw);
}

html {
    background-color: var(--light_beige);
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--blue);
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: var(--blue);
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: var(--blue);
}

.expanded {
    display: unset;
}

@media screen and (min-width: 500px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }

}