---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Recipes from my Grandma";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<img src="src/images/Jerm.png" alt="a pic of jerm" />
</BaseLayout>